<div class="w-screen h-screen flex items-center justify-center">
  <p-card header="Simple Card" class="w-md text-center">
    <ng-template #title>
      Faça Login
    </ng-template>

    <p-divider></p-divider>

    <form class="text-start space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-2">
        <label for="username">Usuário</label>
        <input
          pInputText
          id="username"
          formControlName="username"
          type="text"
          placeholder="Digite seu usuário"
          [ngClass]="{
            'p-invalid': loginForm.get('username')?.invalid
              && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
          }"
        />

        @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty
        || loginForm.get('username')?.touched)) {
          @if (loginForm.get('username')?.errors?.['required']) {
            <p-message severity="error" variant="simple" size="small">Usuário é obrigatório</p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="password">Senha</label>
        <input
          pInputText
          id="password"
          formControlName="password"
          type="password"
          placeholder="Digite sua senha"
          [ngClass]="{
            'p-invalid': loginForm.get('password')?.invalid
              && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
          }"
        />

        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty
        || loginForm.get('password')?.touched)) {
          @if (loginForm.get('password')?.errors?.['required']) {
            <p-message severity="error" variant="simple" size="small">Senha é obrigatório</p-message>
          }
        }
      </div>

      <p-button
        type="submit"
        [loading]="loading"
        styleClass="block w-full"
        label="Fazer Login"
      ></p-button>

      <p-divider></p-divider>

      <div class="text-center">
        Ainda não possui uma conta?
        <a routerLink="/register" class="text-primary">Faça uma conta por aqui</a>
      </div>
    </form>
  </p-card>
</div>
